<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><img src="/assets/logo_white.png" class="title-pic">Sistema Tutú-Parking</span>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#estacionamiento" class="mdl-layout__tab is-active">Estacionamiento</a>
            <a href="#monitor-serie" class="mdl-layout__tab">Monitor Serie</a>
        </div>
    </header>