<html>
	<head>
		<title><%= a %></title>

		<link rel="stylesheet" href="/assets/style.css"/>
	</head>
	<body>

awdfawdwad
<%=
JSON.stringify(foo);
%>
<%=
Math.random();
%>
<br>
<br>
<br>
<br>
		<div class="plano"></div>
		<br><br>
		<textarea id="serial" rows="4" cols="50" disabled></textarea>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
		<script src="/assets/script.js"></script>
	</body>
</html>