*{
	margin: 0px;
	padding: 0px;
	font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
h3, h4 {
    font-family: 'Quicksand', sans-serif;
}
.mdl-layout__content{
    /*background-image: url('/images/backLogIn.png');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; 
}
body{
	overflow-x:hidden;
    overflow-y:hidden;
    text-align: center;
}
#reservationPage{
    top: 0;
    position: absolute;
    width: 100%;
}
/******************HOME NAKA***************/
.main{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/1366bg.jpg);
    background-size: cover;
    background-position: center;
}   
.overlay{
    width: 100vw;
    height: 50vh;
    margin-top: -100vh;
    background-image: linear-gradient(#ff000000,#181818);
}
.libresContainer{
    width: 100vw;
    height: 50vh;
    background-color:#181818;
}
.title{
    margin-top: 0px;
    padding-top: 150px;
}

.page-content{
    width: 100%;
    padding-top: 20px;
}
.reservationPage > h3{
    margin-top: 0px;
}
.title h1{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: -.005em;
}
.textos{
    margin-top: 0px;
}
.libresContainer span{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -.005em;
    margin: 24px 0;
}
.libresContainer p{
    font-family: 'Montserrat', sans-serif;
    color: #cc771c;
    font-size: 120px;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: 'Segment7Standard'; 
    margin-top: 150px;
    font-weight: normal; 
    font-style: italic; 
}
.orangeborderbtn{
    border-color: #cc771c!important;
    border: 1px solid #cc771c!important;
    display: inline-block;
    padding: 10px 20px;
    vertical-align: middle;
    text-align: center;
    color: #cc771c;
    cursor: pointer;
    background-color: #28659a00;
    margin-top: 80px;
}
.brasil{
    display: none
}
.brasil2{
    display: none
}
.orangeborderbtn:hover {
    box-shadow: 0 8px 16px 0 rgba(204, 119, 28, 0.11), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/****************HOME***************/
p {
    margin: 0;
}
.mdl-layout__content{
    background-color: #F1F1F1;
}
.carousel-image{
    width: 100vw;
    height: 600px;
}
header .material-icons {
    margin-top: 12px;
}
.mdl-layout--fixed-header>.mdl-layout__header{
    background-color: #000000;
}
.mdl-layout--fixed-header>.mdl-layout__header #menuLogo{
    height: 44px;
    cursor: pointer;
}
.mdl-layout--fixed-header>.mdl-layout__header #menuProfile{
    height: 44px;
    border-radius: 50%;
}
header .mdl-navigation__link{
    cursor: pointer;
}
header .mdl-layout__drawer-button{
    display: none;
}

/*---------------------------
            BODY
-----------------------------*/
.content h1 {
    font-size: 35px;
    margin-top: 30px;
}
.content {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #F1F1F1;
}
.content-body{
    padding: 50px 0px;
    background-color: rgba(0,0,0,0.2);
    margin: 50px 0px;
    text-align: center;
}
.stepOne input{
    display: block;
    margin: 0 auto 20px auto;
    padding: 5px;
    text-align: center;
}
.stepOne label{

}
.pbar-container{
    width: 1500px;
    display: inline-block;
    margin-top: 50px;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
    list-style: none;
    display: inline-block;
    width: 30.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.card-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.mdl-card{
    margin: 30px 20px 30px 20px;
}
.mdl-card__title{
    height: 150px;
    background-size: cover;
    background-position: center;
}
.mdl-card__title-text{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
  font-size: 15px;
  font-weight: 900px;
}
.progressbar li.active:before {
  border-color: green;
  border: 2.2px solid green;
} 
.progressbar li.active:after {
  background-color: green;
  border: 0.5px solid green;
}
.details{
    width: 650px;
    margin: auto;
    background-color: black;
    border-radius: 5px;
}
.details-row{
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
}
.details-row > *{
    display: inline-block;
}
.details-row .fas{
    font-size: 25px;
    margin-right: 10px;
}
.details-row > p:first-of-type{
    font-size: 18px;
    margin-right: 10px;
}
.details-row{
    display: none;
}
.detailsOne{
    display: block;
}
.stepSection{
    display: none;
}
.stepOne{
    display: block;
}
.NextContainer{
    display: inline-block;
    margin-top: 20px;
}
.NextContainer .btnNext{
    color: #FFFFFF;
    background-color: #4CAF50;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}
.NextContainer .btnNext:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.pbar-container{
    width: 1000px;
    display: inline-block;
}

/**********FOOTER***********/
.footer{
    /*margin-top: 30px;*/
}
.form-footer{
    background-color: #1c1c1c;
    color: white;
    padding-top: 60px;
}
.form-footer h1{
    width: 850px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -66px;
}
.form-footer img{
    display: inline-block;
    height: 70px;
    background-color: #292929;
    padding: 16px;
    border-radius: 100%;
}
.form-footer .form-line-contact{
    width: 400px;
    text-align: center;
    display: inline-block;
}
.form-footer .form-line-contact.left{
    margin-right: 70px;
}
.form-footer span{
    display: block;
    text-align: center;
    width: 150px;
    margin: auto;
    padding-left: 0px;
}
.form-footer .form-line-contact input, .form-footer textarea{
    background-color: #292929;
    border: none;
    outline: none;
    border-radius: 4px;
    padding-left: 10px;
    color: white;
    margin: 10px 0px 20px 0px;
    height: 30px;
    width: 300px;
}
.form-footer textarea{
    width: 870px;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 10px;
    resize: none;
    height: 300px;
}

.form.travel{
    position: static;
}

/*-------------
    LOGIN
--------------*/

.login-box{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px 5px 30px;
    border-radius: 5px;
    background-color: rgba(24, 43, 74, 0.4);
}
.login-box > form > * {
    display: block;
    margin: 15px auto;
    width: 100%;
}
.login-box > form > div{
    text-align: left;
}

.login-box > form > div:first-of-type{
    margin-top: 0px;
}

.login-box > form > div > label , .login-box > form > div > i{
    color: white;
    font-size: 17px;
    margin-right: 7px;
}

.login-box > form > button {
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    font-weight: bold;
    height: 36px;
}

.login-box > form > .socialContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-box > form > .socialContainer > button{
    height: 42px;
    width: 42px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

.login-box > form > .socialContainer > button > i{
    font-size: 20px;
}

.login-box > form > .socialContainer > #google-login{
    background-color: #DB4437;
    color: white;
    font-weight: 400;
}

.login-box > form > .socialContainer > #facebook-login{
    background-color: #29487d;
    color: white;
    font-weight: 400;
}

.login-box > form > .socialContainer > #twitter-login{
    background-color: #08a0e9;
    color: white;
    font-weight: 400;
}

.login-box > form > .socialContainer > #github-login{
    background-color: #313030;
    color: white;
    font-weight: 400;
}

.login-box > form > input {
    background-color: transparent;
    border: 0;
    padding: 5px;
    border-bottom: 2px solid white;
    color: white;
}
.login-box > form > input:focus{
    outline: none;
}
.login-box > form > input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
}
.login-box > form > input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.details{
    /*
    position: absolute;
    top: 0;
    margin: 10px;
    width: 300px;
    display: none;
    */
}
.wickedpicker{
    z-index: 10;
}

/*-------------------
        LOADING
--------------------*/

#loadingScreen, #loadingScreenAuth{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -64px;
    background-color: rgba(0,0,0,0.9);
    z-index: 100000000;
    display: none;
}
#loadingScreen img, #loadingScreenAuth img{
    width: 150px;
    height: 150px;    
}

/*---------------------------------
            APP    320x568
----------------------------------*/
main.mdl-layout__content {
    background: url(../images/1366bg.jpg) center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.appOverlay{
    width: 100vw;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0) -30%,#181818);
    opacity: 1;
}
.bottomBlack{
    width: 100vw;
    height: 50vh;
    background-color: #181818;

}

/*         ----APP MAIN----          */
#asdf{
    position: absolute;
    width: 100%;
    height: 30%;
}
.textcontent{
    height: 350px;
    width: 70vw;
    margin: 150px auto auto auto;
}
#nextbtncontainer {
    width: 40px;
    display: inline-block;
    height: 40px;
    float: right;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #cc771c;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 50%;
}
#InicioSesionNextbtncontainer {
    width: 30px;
    display: inline-block;
    height: 30px;
    float: right;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #cc771c;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 50%;
}
#prevbtncontainer {
    width: 40px;
    display: inline-block;
    height: 40px;
    float: left;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #cc771c;
    margin: auto;
    position: absolute;
    left: 10px;
    top: 50%;
}
#InicioSesionPrevbtncontainer {
    width: 30px;
    display: inline-block;
    height: 30px;
    float: left;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #cc771c;
    margin: auto;
    position: absolute;
    left: 10px;
    top: 50%;
}
.appbtnsiguiente{
    background-image: url(../images/Extras/right-chevron.png);
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    margin: 6px 3px 0px auto;
}
.appInicioSesionBtnNext{
    background-image: url(../images/Extras/right-chevron.png);
    background-size: cover;
    background-position: center;
    width: 15px;
    height: 20px;
    margin: 3px 3px 0px 8px;
}
.appbtnanterior{
    background-image: url(../images/Extras/left-chevron.png);
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    margin: 6px 8px 0px auto; 
}
/**** steps container ********/
#AppInicioSesionContainer{
    display: block;
    margin-top: -100vh;    
}
#AppMainContainer{
    display: none;
    margin-top: -100vh;
}
#AppPasoUnoContainer{
    display: none;
    margin-top: -100vh;
}
#AppPasoDosContainer{
    display: none;
    margin-top: -100vh;
}
/*****************************/
/*           STEP 1           */

.AppStep1Text{
    
}
.AppStep1Title{
    font-family: 'Montserrat', sans-serif;
    color: #cc771c;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.05em;
    margin: 24px 0;
    margin-top: 60px;
    line-height: 40px;
}
.AppStep1Subtitle{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -.05em;
    margin: 24px 0;
    margin-top: 60px;
}
.AppStep2Subtitle{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -.05em;
    margin: 24px 0;
    margin-top: 60px;
}
#registerTitle{
    font-size: 30px;
}
.AppRegisterSubtitle{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -.05em;
    margin-top: -20px; 
}
/* END of STEP 1 */ 
/*  step 2 */
.optTipoResContainer{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.optTipoResContainer h3 {
    font-size: 14px;
    color: white;
    font-weight: 600!important;
    margin-top: 0px!important;
    margin: 15px;
/*
    -webkit-transition: 2s all ease;
    -o-transition: 2s all ease;
    transition: 2s all ease;
*/
}
.active{
    color: orange;
    font-weight: 800!important;
}
.ResRightContainer{
    width: 70vw;
    height: 200px;
    background-color: white;
    margin: 30px auto auto auto;
    display: flex;
}
.optResImage{
    width: 97%;
    height: 97%;
    background-color: azure;
    margin: auto;
    background-image: url(../images/normal.jpg);
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}
.optResImage2{
    width: 97%;
    height: 97%;
    background-color: azure;
    margin: auto;
    background-image: url(../images/discapacitados.jpg);
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}
.optResImage3{
    width: 97%;
    height: 97%;
    background-color: azure;
    margin: auto;
    background-size: cover;
    background-image: url(../images/premium.jpg);
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}
.optResImageActive{
    width: 500%;
}
.optResText{
    
}
/* end 2 */
.footericons{
    height: 40px;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0px;

}
#test{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}
.cocherastxt{
    color: #cc771c;
    font-size: 120px;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: 'Segment7Standard'; 
    font-weight: normal; 
    font-style: italic; 
}
.cocheraslibrestxt{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -.005em;
    margin: 24px 0;
    margin-top: 60px;
    line-height: 40px;
}

#idorangebtn{
    border: 2px solid #cc771c!important;
    padding: 8px 16px;
    margin-top: 50px;
    cursor: pointer;
}
#idorangebtn:hover {
    box-shadow: 0 8px 16px 0 rgba(204, 119, 28, 0.11), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*         ----End of APP MAIN----          */
.cerrarsesion{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* ------------------ end app --------------------*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {
    header .mdl-layout__drawer-button{
        display: block;
    }
    .pbar-container {
        width: 600px;
    }
}

/* Medium devices (1400px and down) */
@media (max-width: 1400px) { 
    .textos {
        margin-top: 0px;
    }
    .title{
        padding-top: 50px;
    }
    .libresContainer p {
        margin-top: 80px;
    }

} 

/* Medium devices (1224px and down) */
@media (max-width: 1224px) { 
    
    .textos{
        margin-top: 0px;
    }
    .brasil{
        display: block;
    }

} 
/* Small devices (768px and down) */
@media (max-width: 768px) { 
    
    .textos{
        margin-top: 0px;
    }
    .orangeborderbtn {
        padding: 6px 12px;
        margin-top: 40px;
    }

} 
/* Extra small devices (phones 480px and down) */
@media (max-width: 480px) {
    .title h1 {
        font-size: 25px;
    }
    .title {
        margin-top: 0px;
    }
    .textos {
         margin-top: 0px; 
    }
    .brasil2{
        display: block;
    }
    .libresContainer span {
        font-size: 20px;
    }
    .libresContainer p {
        font-size: 60px;
        margin-top: 30px;
    }
    .orangeborderbtn {
        padding: 6px 12px;
    }

    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .pbar-container {
        width: 450px;
    }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    .pbar-container {
        width: 250px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 300px) {
    
} 
a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: white;
    text-decoration: none;
}
