<% include layouts/header.ejs %>
<div class="main"></div>
    <div class="overlay">
        <div class="title">
            <h1>Bienvenido a <br class="brasil">Tutu Parking!</h1>
        </div>
    </div>
    <div class="libresContainer">
        <div class="textos">
            <span>Cocheras <br class="brasil2"> disponibles</span>
            <p>72</p>
            <button class="orangeborderbtn">Button</button>
        </div>
    </div>
<% include layouts/footer.ejs %>