<% include layouts/header.ejs %>

<%= JSON.stringify(user) %>
    <div class="content fisrt">
        <h1>Reservá tu cochera</h1>
        <h2>Pasos</h2>
        <div class="pbar-container">
            <ul class="progressbar">
                <li class="progressItem active">Paso 1</li>
                <li class="progressItem">Paso 2</li>
                <li class="progressItem">Paso 3</li>
            </ul>   
        </div>
        
        <div class="content-body">
            <div class="details">
                <div class="details-row">
                    <div><i class="fas fa-info-circle"></i></div>
                    <p>Detalles: </p>
                    <p>Dia/Mes/Año Hora</p>
                </div>
                <div class="details-row">
                    <div><i class="fas fa-car"></i></div>
                    <p>Estacionamiento: </p>
                    <p>J-16</p>
                </div>
            </div>
        </div>
        
        <div id="first-mtr-datepicker"></div>
        
    </div>
    <script>
        $(document).on("click",".progressItem", function(){
            $(this).addClass("active");
        })
    </script>
    <script>
        var config = {
        target: 'first-mtr-datepicker'
        };
        var myDatepicker = new MtrDatepicker(config);
    </script>
    <style>
        #first-mtr-datepicker{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
<% include layouts/footer.ejs %>