<% include layouts/header.ejs %>
    <h3>Reservá tu cochera!</h3>

    <div class="pbar-container">
        <ul class="progressbar">
            <li id="itemOne" target=".stepOne" detail=".detailsOne" class="progressItem active">Paso 1</li>
            <li id="itemTwo" target=".stepTwo" detail=".detailsTwo" class="progressItem">Paso 2</li>
            <li id="itemThree" target=".stepThree" detail=".detailsThree" class="progressItem">Paso 3</li>
        </ul>   
    </div>
    
    <div class="content-body">

        <div class="stepSection stepOne">
            <label for="">Horario de entrada</label>
            <input type="text" class="timepicker" id="timeOne">
            <label for="">Horario de salida</label>
            <input type="text" class="timepicker" id="timeTwo">
            
            <div class="NextContainer">
                <button onClick="goTwo()" class="btnNext">Siguente »</button>
            </div>
        </div>
        
        <div class="stepSection stepTwo">

            <div class="card-wrapper">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand" style="background-image:url('/images/normal.jpg')">
                        <h2 class="mdl-card__title-text">Normal</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Seleccionar
                        </a>
                    </div>
                </div>

                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand" style="background-image:url('/images/discapacitados.jpg')">
                        <h2 class="mdl-card__title-text">Discapacitados</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Seleccionar
                        </a>
                    </div>
                </div>

                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand" style="background-image:url('/images/premium.jpg')">
                        <h2 class="mdl-card__title-text">Premium</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Seleccionar
                        </a>
                    </div>
                </div>
            </div>
            <!--
            <div class="NextContainer">
                <button onClick="goThree()" class="btnNext">Siguente »</button>
            </div>
            -->
        </div>
        
        <div class="stepSection stepThree">
            <h3>Felicidades</h3>
            <div class="details">
                <div class="details-row detailsOne">
                    <div><i class="fas fa-info-circle"></i></div>
                    <p>Detalles: </p>
                    <p id="timeDetail">12 : 00 PM - 13 : 00 PM</p>
                </div>
                <div class="details-row detailsTwo">
                    <div><i class="fas fa-car"></i></div>
                    <p>Estacionamiento: </p>
                    <p>J-16</p>
                </div>
            </div>
            <div class="NextContainer">
                <button onClick="end()" class="btnNext">Confirmar »</button>
            </div>
        </div>

    </div>

    <script>
        $('.timepicker').wickedpicker({
            now: '12:00', 
            twentyFour: false,  
        });

        $('.timepicker').change(function(){
            $("#timeDetail").text($('#timeOne').val() + " - " + $('#timeTwo').val());
        })
    </script>

    <script>
        $(document).on("click",".progressItem", function(){
            //BARRITA
            $(this).addClass("active");
            $(this).prevAll().addClass("active");
            $(this).nextAll().removeClass("active");

            //MOSTRAR SECCION
            $(".stepSection").each(function(){
                $(this).css('display','none');
            })
            $($(this).attr('target')).css('display','block');

            //MOSTRAR DETALLES
            $($(this).attr('detail')).prevAll().css('display','block');
            $($(this).attr('detail')).css('display','block');
            $($(this).attr('detail')).nextAll().css('display','none');
        })
        function goTwo(){
            $('#itemTwo').click();
        }
        function goThree(){
            $('#itemThree').click();
        }
        function end(){
            alert("Felicidades");
        }
    </script>

<% include layouts/footer.ejs %>