<% include layouts/header.ejs %>
    <div class="content">
        <div class="login-box">
            <form action="login" method="POST">
                <div>
                    <i class="fas fa-user"></i>
                    <label for="user">EMail</label>
                </div>
                <input type="text" id="user" name="email">
                <div>
                    <i class="fas fa-key"></i>
                    <label for="pass">Contraseña</label>
                </div>
                <input type="password" id="pass" name="pass">
                <button type="submit">Ingresar</button>
                <button type="button" id="google-login">
                    <i class="fab fa-google" style="display:inline;"></i>
                    <p style="display:inline;">Iniciar sesión con <b>Google</b></p>
                </button>
            </form>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBOzmaikD_lrox31O50TRCtRRz9hdr2ExY",
            authDomain: "tutu-parking.firebaseapp.com",
            projectId: "tutu-parking"
        };
        firebase.initializeApp(config);
        
        function requestSession(idToken) {
            firebase.auth().currentUser.getIdToken(false).then(function(idToken) {
                $.ajax({
                    url: '/api/login/',
                    method: 'POST',
                    dataType: 'json',
                    data: { token: idToken }
                }).then(function(data) {
                    window.location = "index";
                });
            });
        }

        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                firebase.auth().currentUser.getIdToken(false).then(function(idToken) {
                    requestSession(idToken);
                });
            } else {
                requestSession(null);
            }
        });
        
        function doLogin(provider) {
            firebase.auth().signInWithPopup(provider);
        }
        
        $("#google-login").click(function() {
            doLogin(new firebase.auth.GoogleAuthProvider());
        });

        $("#register").click(function() {
            firebase.auth().createUserWithEmailAndPassword($("#email").val(), $("#pass").val());
        });
    </script>
    <style>
        .content{
            padding: 100px;
            background-image: url('../public/images/backLogIn.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; 
        }
    </style>
<% include layouts/footer.ejs %>
