<% include layouts/header.ejs %>
    <div class="content">
        <div class="login-box">
            <form action="login" method="POST">
                <div>
                    <i class="fas fa-user"></i>
                    <label for="user">EMail</label>
                </div>
                <input type="text" id="user" name="email">
                <div>
                    <i class="fas fa-key"></i>
                    <label for="pass">Contraseña</label>
                </div>
                <input type="password" id="pass" name="pass">
                <button type="submit">Ingresar</button>
                <div class="socialContainer">
                    <button type="button" id="google-login">
                        <i class="fab fa-google"></i>
                    </button>
                    <button type="button" id="facebook-login">
                        <i class="fab fa-facebook"></i>
                    </button>
                    <button type="button" id="twitter-login">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button type="button" id="github-login">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function requestSession(idToken) {
            if(firebase.auth().currentUser) {
                firebase.auth().currentUser.getIdToken(false).then(function(idToken) {
                    console.log("Login...");
                    $.ajax({
                        url: '/api/login/',
                        method: 'POST',
                        dataType: 'json',
                        data: { token: idToken },
                        success: function() {
                            console.log("HOLA PUTOS");
                            window.location = "/";
                        }
                    });
                });
            }
        }
        
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                firebase.auth().currentUser.getIdToken(false).then(function(idToken) {
                    requestSession(idToken);
                });
            } else {
                requestSession(null);
            }
        });
        
        $("#google-login").click(function() {
            doLogin(new firebase.auth.GoogleAuthProvider());
        });

        $("#register").click(function() {
            firebase.auth().createUserWithEmailAndPassword($("#email").val(), $("#pass").val());
        });
    </script>
    <style>
        .content{
            padding: 100px;
            background-image: url('/images/backLogIn.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; 
        }
    </style>
<% include layouts/footer.ejs %>
