<% include layouts/header.ejs %>
    <div class="content">
        <div class="login-box">
            <form action="" method="POST">
                <div>
                    <i class="fas fa-user"></i>
                    <label for="user">EMail</label>
                </div>
                <input type="text" id="email" name="email">
                <div>
                    <i class="fas fa-key"></i>
                    <label for="pass">Contraseña</label>
                </div>
                <input type="password" id="pass" name="pass">
                <button type="submit" id="register">Registrarse</button>
            </form>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBOzmaikD_lrox31O50TRCtRRz9hdr2ExY",
            authDomain: "tutu-parking.firebaseapp.com",
            projectId: "tutu-parking"
        };
        firebase.initializeApp(config);
        $("#register").click(function(e) {
            e.preventDefault();
            firebase.auth().createUserWithEmailAndPassword($("#email").val(), $("#pass").val());
            window.location = "login";
        });
    </script>
    <style>
        .content{
            padding: 130px;
            background-image: url(https://images.pexels.com/photos/6517/parking-multi-storey-car-park.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size: cover;
            background-position: center;
        }
        .login-box{
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            background-color: black;
            padding: 40px 70px;
            border-radius: 20px;
        }
        .login-box > form > * {
            display: block;
            margin: 15px auto;
            width: 100%;
        }
        .login-box > form > div{
            text-align: left;
        }
        .login-box > form > div > label , .login-box > form > div > i{
            color: white;
            font-size: 20px;
            margin-right: 7px;
        }
        .login-box > form > button {
            margin-top: 30px;
            background-color: white;
            border: 1px solid white;
            border-radius: 5px;
            cursor: pointer;
            padding: 7px;
            font-weight: bold;
        }
        .login-box > form > input {
            background-color: transparent;
            border: 0;
            padding: 5px;
            border-bottom: 2px solid white;
            color: white;
        }
        .login-box > form > input:focus{
            outline: none;
        }
        .login-box > form > input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px black inset;
        }
        .login-box > form > input:-webkit-autofill {
            -webkit-text-fill-color: white !important;
        }
    </style>
<% include layouts/footer.ejs %>
