<html>
	<head>
		<% include ../partials/head.html %>
	</head>
	<body>
		<div class="panic-modal">
			<div class="warning"></div>
			<p>Se ha activado un botón de pánico.</p>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="stop-panic">
					Desactivar sistema antipánico
			</button>
		</div>
	
		<% include ../partials/header.html %>

        <main class="mdl-layout__content">
			<section class="mdl-layout__tab-panel is-active" id="estacionamiento">
				<div class="page-content">
					<h3>Estado actual de cocheras: </h3>
					<div class="plano-container">
						<div class="plano"></div>
					</div>
					<div class="guia">
							<div class="acciones">
								<h5>Acciones</h5>
								<div>
									<h6>Luces</h6>
									<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored allBulbs" data-active="true">
										Prender todas las luces
									</button>
									<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored allBulbs" data-active="false">
										Apagar todos las luces
									</button>
								</div>
								<div>
									<h6>Ventiladores</h6>
									<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent allFans" data-active="true">
										Prender todos los ventiladores
									</button>
									<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent allFans" data-active="false">
										Apagar todos los ventiladores
									</button>
								</div>
							</div>
							<div class="colores">
								<h5>Guía de colores</h5>								
									<div class="color" style="background-color:red;"></div><p>Ocupado</p>
									<div class="color" style="background-color:green;"></div><p>Libre</p>
									<div class="color" style="background-color:blue;"></div><p>Reservado</p>									
							</div>
					</div>
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="info-table">
				<div class="page-content">
					<h3>Información de los clientes actuales:</h3>
					<button onclick="socket.emit('testfoto')">PROBAR</button>
					<div class="table-cont">
						<table>
							<thead>
								<tr>
									<th>Patente</th>
									<th>Imagen</th>
									<th>Cochera</th>
									<th>Llegada</th>
									<th>Salida</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="displays">
				<div class="page-content">
					<h3>Displays:</h3>
					<div id="displays-container">No hay displays</div>
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="monitor-serie">
				<div class="page-content">
					<div class="serie">
						<div class="serie-rows" id="serial_information">
							<!--<div class="row sale"><i class="material-icons">arrow_back</i>201, L</div>
							<div class="row entra"><i class="material-icons">arrow_forward</i>203, O</div>
							<div class="row sale"><i class="material-icons">arrow_back</i>201, L</div>
							<div class="row entra"><i class="material-icons">arrow_forward</i>203, O</div>
							<div class="row sale"><i class="material-icons">arrow_back</i>201, L</div>
							<div class="row entra"><i class="material-icons">arrow_forward</i>203, O</div>
							<div class="row sale"><i class="material-icons">arrow_back</i>201, L</div>
							<div class="row entra"><i class="material-icons">arrow_forward</i>203, O</div>-->
						</div>
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--4-col">
								<label>ID</label>
								<select id="serial-id">
									<optgroup label="Utilities">
										<% for(var i = 160; i <= 165; i++){ %>
											<option value="<%= i %>">Utilities #<%= i %></option>
										<% } %>
									</optgroup>
									<optgroup label="Displays">
										<option value="150">Display #1</option>
									</optgroup>
									<optgroup label="Numeritos">
										<% for(var i = 170; i <= 170; i++){ %>
											<option value="<%= i %>">#<%= i %></option>
										<% } %>
									</optgroup>
									<optgroup label="Placas">
										<% for(var i = 200; i < 240; i++){ %>
											<option value="<%= i %>">#<%= i %></option>
										<% } %>
									</optgroup>
								</select>
							</div>
							<div class="mdl-cell mdl-cell--4-col">
								<label>Dato</label>
								<select id="serial-dato">
									<optgroup label="Letras">
										<% 
										var l = "eran";
										for(var i = 0; i < l.length; i++){
										%>
											<option value="<%= l.charCodeAt(i) %>">'<%= l[i] %>'</option>
										<% } %>
									</optgroup>
									<optgroup label="Utilities">
											<option value="10">Encender Luz</option>
											<option value="11">Apagar Luz</option>
											<option value="20">Encender Ventilador</option>
											<option value="21">Apagar Ventilador</option>
											<option value="30">Encender Alarma</option>
											<option value="31">Apagar Alarma</option>
											<option value="40">Encuestar boton de panico</option>
									</optgroup>
									<optgroup label="Displays">
											<option value="13">Limpiar</option>
										<% 
										var l = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
										for(var i = 0; i < l.length; i++){
										%>
											<option value="<%= l.charCodeAt(i) %>">'<%= l[i] %>'</option>
										<% } %>
									</optgroup>
									<optgroup label="Decimales">
										<% 
										for(var i = 0; i <= 99; i++){
										%>
											<option value="<%= i %>"><%= i %></option>
										<% } %>
									</optgroup>
								</select>
							</div>
							<div class="mdl-cell mdl-cell--4-col">
									<button id="serial-send" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Enviar</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		
		<% include ../partials/footer.html %>
	</body>
</html>
