                <div class="footer">
                    <div class="form-footer">
                        <div class="container">
                            <img src="../../public/images/Logos/contact.png" alt=""><h1>Contacto</h1>
                            <form action="">
                                <div class="form-line-contact left">
                                    <span>Nombre y apellido</span>
                                    <input name="name" type="text">
                                </div>
                                <div class="form-line-contact">
                                    <span>Teléfono / Celular</span>
                                    <input name="tel" type="text">
                                </div>
                                <div class="form-line-contact left">
                                    <span>Email</span>
                                    <input name="email" type="email">
                                </div>
                                <div class="form-line-contact">
                                    <span>Asunto</span>
                                    <input name="affair" type="text">
                                </div>             
                                <span>Mensaje</span>
                                <textarea name="msg" id="" cols="30" rows="10"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>