<html>
<head>
    <link rel="shortcut icon" href="../public/images/Logos/favicon.png" type="image/png" >
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>PPS Parking</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- DatePicker -->
    <link rel="stylesheet" type="text/css" href="../public/datepicker/dist/mtr-datepicker.min.css">
    <script type="text/javascript" src="../public/datepicker/dist/mtr-datepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/datepicker/dist/mtr-datepicker.default-theme.min.css">
    <!-- Main -->
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <a href="/"><img src="../public/images/Logos/logo2.png" alt=""></a>
            <h1> TUTU PARKING</h1>
            <ul class="nav">
                <li><img src="../public/images/Logos/user.png" alt=""><a href="login">Mi Cuenta</a></li>
            </ul>
        </div>
    </div>